<div class="jumbotron jumbotron-fluid mt-2">
  <div class="container">
    <h1 class="display-4">About Car Dealership</h1>
    <p class="lead"> The Car Dealership website is a business that sells new or used cars at the retail level,
      based on a dealership contract with an automaker or its sales subsidiary.</p>
  </div>
</div>